@use "@helpers" as *;

.field {
  --field-input-height: var(--input-height);
  --field-input-text-color: var(--color-dark);
  --field-input-bg-color: var(--color-light);
  --field-input-border-color: var(--color-dark);
  --field-input-placeholder-color: var(--color-gray-alt);
  --field-input-bg-hover: var(--color-accent);

  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 5px;

  @include mobile {
    row-gap: 10px;
  }

  &--big-height {
    --field-input-height: var(--button-height);
  }

  &--dark-bg {
    --field-input-text-color: var(--color-accent);
    --field-input-bg-color: var(--color-dark-alt);
    --field-input-border-color: var(--color-light);
    --field-input-placeholder-color: var(--color-light);
    --field-input-bg-hover: var(--color-dark);
  }

  &__label {
    @include fluid-text(16, 14);
  }

  &__input {
    width: 100%;
    height: var(--field-input-height);
    color: var(--field-input-text-color);
    background-color: var(--field-input-bg-color);
    padding-inline: 30px;
    border: 1px solid var(--field-input-border-color);
    border-radius: var(--border-radius);

    @include hover {
      background-color: var(--field-input-bg-hover);
    }

    @include mobile {
      padding-inline: 20px;
    }

    &:focus {
      border-color: var(--color-accent);
      outline: none;
    }

    &::placeholder {
      color: var(--field-input-placeholder-color);
    }

    &--textarea {
      height: 190px;
      padding-block: 18px;
      resize: none;

      @include mobile {
        height: 132px;
      }
    }
  }
}
